@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background: #3c3f41;
    user-select: none;
    color: white;
    font-family: Roboto;
}

.textcontainer{
    color: white;
    font-family: Roboto;
    font-size: 30px;

    display: block;
    position: absolute;
    left: calc(50% - 300px);
    top: 50%;
}

#currentline{
    transform: translate(0, -100%);
    text-shadow: -2px 5px 10px black;

    width: 600px;
    border-bottom: 1px solid black;
    padding-left: 10px;
}
#nextup0{
    transform: translate(0, 0);
    color: gray;
}
#nextup1{
    transform: translate(0, 100%);
    color: rgba(128, 128, 128, 0.85);
}
#nextup2{
    transform: translate(0, 200%);
    color: rgba(128, 128, 128, 0.7);
}
#nextup3{
    transform: translate(0, 300%);
    color: rgba(128, 128, 128, 0.55);
}
#nextup4{
    transform: translate(0, 400%);
    color: rgba(128, 128, 128, 0.4);
}
#nextup5{
    transform: translate(0, 500%);
    color: rgba(128, 128, 128, 0.25);
}
#nextup6{
    transform: translate(0, 600%);
    color: rgba(128, 128, 128, 0.10);
}
.nextup{
    transition-duration: 1s;
}

#pointer{
    color: white;
    font-family: Roboto;
    font-size: 30px;

    display: block;
    position: absolute;
    left: calc(50% - 310px);
    top: 50%;
    transform: translate(-100%, -100%);
}
#rightpointer{
    color: white;
    font-family: Roboto;
    font-size: 30px;
}
#notification{
    color: white;
    font-family: Roboto;
    font-size: 50px;

    display: block;
    position: absolute;
    left: 50%;
    top: calc(50% - 10px);

    transform: translate(-50%, -200%);

    text-shadow: -2px 5px 10px black;

    transition-duration: 1s;
    transition-timing-function: ease;
}

.settingsDrawer{
    background: #3c3f41;

    z-index: 9999;

    position: absolute;
    left: -450px;
    top: 0;
    width: 500px;
    height: 100vh;
    box-sizing: border-box;

    overflow: auto;

    transition-duration: 0.3s;

    border-right: 0px solid black;
}
.settingsDrawer:hover{
    left: 0;
    border-right: 2px solid black;
}
.settingsDrawer .settingsarrow{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 50px;

    text-shadow: 0 0 10px black;

    transition-duration: 0.3s;

    opacity: 10%;
}
.settingsDrawer:hover .settingsarrow{
    transform: translateY(-50%) rotateY(180deg);
    opacity: 75%;
}
.settings{
    padding: 10px;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

.settingsgroup{
    padding: 10px;
    border: 1px solid white;
    margin-bottom: 30px;
}
.settingsgroup h2{
    margin: 5px;
}
.form-group{
    border: 1px solid white;
    margin-bottom: 10px;
    padding: 5px;
}