@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background: #3c3f41;
    user-select: none;
    color: white;
    font-family: Roboto;
}
.dirlink{
    color: lightgray;
    text-decoration: none;
}
.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.bottom{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
}
.gray{
    color: gray;
}