/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    background: #3c3f41;
    user-select: none;
    color: white;
    font-family: Roboto, sans-serif;
    padding: 10px;
}
.dirLink{
    padding: 10px;
    margin: 3px;
    border: 1px solid black;
    border-radius: 10px;

    color: lightgray;
    text-decoration: none;
    display: block;

    width: fit-content;

    transition: 0.3s ease;
}
.dirLink:hover{
    color: white;
    text-shadow: white 0 0 5px;
}
.dirLink:before{
    content: "\039e";
    margin-right: 5px;
}
.goBack{
    text-decoration: none;
    padding: 10px;
    margin: 3px;
    border: 1px solid black;
    border-radius: 10px;

    color: lightgray;
    display: block;

    width: fit-content;

    transition: 0.3s ease;
}
.goBack:before{
    content: "←";
    margin-right: 5px;
}
.goBack:hover{
    color: white;
    text-shadow: white 0 0 5px;
}
.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.bottom{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
}
.gray{
    color: gray;
}
.vSplitter{
    width: 1px;
    height: 100%;
    background: black;
    display: inline-block;
}
.hSplitter{
    width: 100%;
    height: 1px;
    background: black;
    display: block;
}
.padding{
    height: 20px;
    display: block;
}
.grid{
    /* Not an actual grid, sorry to disappoint */
    width: 100%;
}
.card{
    display: inline-block;
    margin: 20px;
    position: relative;
    width: 300px;
    height: 400px;
    outline: 1px solid black;
    overflow: hidden;
    border-radius: 20px;
    transition: 0.1s ease;
}
.card:hover{
    transform: scale(1.02);
}
.card img.preview{
    position: absolute;
    top: 0;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    text-align: center;
}
.card .content{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    background: black;

    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.content a{
    width: initial;
    text-align: center;
}
.content p{
    padding: 10px;
    max-height: 80px;
    overflow: auto;
}
.author{
    position: absolute;
    bottom: 2px;
    right: 5px;
    padding: 2px;
    border-radius: 10px;
    border: 1px solid white;
    text-decoration: none;
    color: lightgray;
}
.white{
    background: white !important;
}
.inline{
    display: inline !important;
}