.mainpanel {
    background: #3c3f41;

    outline: 1px solid white;
    border-radius: 25px;
    position: relative;
    padding: 10px;
}

accordion {
    display: block;
    outline: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    margin: 20px 5px;
}

accordion-title {
    display: block;
    cursor: pointer;
    user-select: none;
}

accordion-content {
    display: none;
    border-top: 1px solid white;
    margin-top: 10px;
    padding-top: 10px;
}

.visible {
    display: block;
}

accordion-title:before {
    content: '+ ';
}

accordion-title.open:before {
    content: '– ';
}

dialog {
    width: calc(max(500px, 50%));
    max-height: 75%;
    overflow-y: auto;
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;

    background: #3c3f41;
    color: white;
}

dialog::backdrop {
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.1);
}

input:not([type='checkbox']), select, textarea {
    width: 100%;
    box-sizing: border-box;
}

input:not([type='checkbox']), select, textarea, button {
    background: #3c3f41;
    color: white;

    outline: 1px solid white;
    border: none;
    padding: 5px;
    border-radius: 10px;

    margin-top: 5px;
}

@keyframes busy {
    0%, 100% {
        outline-color: #c27e00;
    }
    50% {
        outline-color: #ffa600;
    }
}

#output {
    transition: 300ms ease-out;
}

.busy {
    animation: busy 1s ease-in-out infinite;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
    color: #b9b9b9;
}

#settingsButton {
    position: absolute;
    top: 10px;
    right: 10px;
}

li {
    margin-bottom: 5px;
}

pre {
    user-select: text;
}

pre[data-action] {
    cursor: pointer;
}

a {
    color: white;
}

#prompt, #output {
    width: 100%;
    resize: vertical;
}

#output {
    min-height: 200px;
}